<h1>Coaching#question</h1>
<p>You</p>

<h1>Coaching#question</h1>

<% your_message = "hello" %>
<% while your_message != "I am going to work right now!" %>
  <%= 'What do you say to the coach ?' %>
  <% your_message = gets.chomp %>
  <% puts coach_answer_enhanced(your_message) %>
<% end %>
<p>Your coach</p>

